# SPDX-FileCopyrightText: 2022 CERN (home.cern)
#
# SPDX-License-Identifier: CERN-OHL-W-2.0+

*.*\#
\#*
.\#*
*.*~
ip_cores/*
modelsim.ini
*.wlf
*.vstf
work
*.bak
syn/*
transcript
*.orig
*#
*~
*.out
*.bk
transcript
*.wlf
*.ram
*.bmp
